<div class="container">
<div class="chart1">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [legend]="chartOptions.legend"
    [colors]="chartOptions.colors"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [title]="chartOptions.title"
  ></apx-chart>
</div>
<div class="chart2">
    <app-progress></app-progress>
  </div>
  </div>
<!-- bayza -->
  <div class="chart3">
    <app-thirdprog></app-thirdprog>
  </div>
 <!-- mixed -->
  <div class="chart3">
    <app-linechart></app-linechart>
  </div>

  <div class="container">
  <!-- basic line -->
  <div class="chart1">
    <app-basic-line></app-basic-line>
  </div>
  <!-- elfa2a el3omrya -->
  <div class="chart4">
    <app-elfa2a-el3omrya></app-elfa2a-el3omrya>
  </div>
</div>
<div class="container">
  <!-- عدد العمليات حسب نوع التسجيل -->
 <div class="chart1">
  <app-fill-pie3mlyat></app-fill-pie3mlyat>
 </div>
</div>