<div class="container">
<div class="chart1">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [legend]="chartOptions.legend"
    [colors]="chartOptions.colors"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [title]="chartOptions.title"
  ></apx-chart>
</div>
<div class="chart2">
    <app-progress></app-progress>
  </div>
  </div>
<!-- bayza -->
  <div class="chart3">
    <app-thirdprog></app-thirdprog>
  </div>
 <!-- mixed -->
  <div class="chart3">
    <app-linechart></app-linechart>
  </div>

  <div class="container">
  <!-- basic line -->
  <div class="chart1">
    <app-basic-line></app-basic-line>
  </div>
  <!-- elfa2a el3omrya -->
  <div class="chart4">
    <app-elfa2a-el3omrya></app-elfa2a-el3omrya>
  </div>
</div>
<div class="container">
  
 <div class="chart1">
  <app-fill-pie3mlyat></app-fill-pie3mlyat>
 </div>
 <div class="chart1">
  <app-lineline></app-lineline>
 </div>
</div>


<!-- start of column component  -->
<div class="container">
  <div class="chart1">
    <h2>عدد المخالفات حسب الفئة العمرية</h2>
    <app-shfaf [chartData]="AgeGroup" [yAxisData]="NumberOfViolationsByAgeGroupData" [chartHeight]="200" 
    columnWidth="33px" [borderRadius]=16 [colors]="['#CAEFD8']"selectedColor="#03A676"
    [dataLabelAppear]= false yAxisTitle="العدد" xAxisTitle="الفئة العمرية"></app-shfaf>
  </div>
  <div class="chart1">
    <h2>عدد المخالفات حسب الجنسية</h2>
    <app-shfaf [chartData]="Nationality" [yAxisData]="NumberOfViolationsByNationalityData"  
    columnWidth="15px" [borderRadius]=7 [colors]="['#2AC064']" [isSelectedDataLabelAppear]=true selectedColor="#FDBE4A"
    ></app-shfaf>
  </div>
</div>
<div class="container">
  <div class="chart1">
    <h2>عدد المخالفات المؤثرة على السلامة العامة (حسب المدينة)</h2>
    <app-shfaf [chartData]="City" [yAxisData]="NumberOfViolationsByCityData"  
    columnWidth="15px" [borderRadius]=7 [colors]="['#2AC064']" [isSelectedDataLabelAppear]=true selectedColor="#FDBE4A"
    ></app-shfaf>
  </div>
  <div class="chart1">
    <h2> الحوادث توزيع الحوادث الزمني</h2>
    <app-shfaf [chartData]="Months" [yAxisData]="IncidentsTemporalDistributionOfIncidentsData" nameOfSeries="عدد الحوادث"
    columnWidth="9px" [borderRadius]=4 borderRadiusApplication="end" [colors]="['#03A676', '#FDBE4A']" [isSelectedExecute]=false
    ></app-shfaf>
  </div>
</div>
<div class="container">
  <div class="chart3">
    <h2>عدد المخالفات المؤثرة على السلامة العامة (حسب المدينة)</h2>
    <app-shfaf [chartData]="NumberOfViolationsAffectingPublicSafetyByCity" [yAxisData]="NumberOfViolationsAffectingPublicSafetyByCityData"  
    columnWidth="27px" chartWidth="100%" chartHeight="300" [borderRadius]=14  [colors]="['#03A676']" selectedColor="#FDBE4A"
    ></app-shfaf>
  </div>
</div>
<div class="container">
  <div class="chart1">
    <h2>إجمالي الحوادث</h2>
    <app-shfaf [chartData]="Region" [yAxisData]="TotalAccidentsData"  
    columnWidth="24px" chartWidth="100%" chartHeight="270" [borderRadius]=5 borderRadiusApplication="end" [colors]="['#03A676']" selectedColor="#FDBE4A"
    [xAxisBorder]=true [yAxisBorder]=true [colors]="['#DFDFDF']" selectedColor="#03A676" [dataLabelAppear]=true dataLabelColor="#55565A"
    ></app-shfaf>
  </div>
  <div class="chart1">
    <h2>عدد بلاغات سرقة اللوحات حسب المدينة </h2>
    <app-shfaf [chartData]="Region" [yAxisData]="TotalAccidentsData"  
    columnWidth="24px" chartWidth="100%" chartHeight="270" [borderRadius]=5 borderRadiusApplication="end" [colors]="['#03A676']" selectedColor="#FDBE4A"
    [xAxisBorder]=true [yAxisBorder]=true [colors]="['#DFDFDF']" selectedColor="#03A676" 
    ></app-shfaf>
  </div>
</div>