
<div class="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [yaxis]="chartOptions.yaxis!"
      [xaxis]="chartOptions.xaxis!"
      [labels]="chartOptions.labels!"
      [stroke]="chartOptions.stroke!"
      [title]="chartOptions.title!"
      [dataLabels]="chartOptions.dataLabels!"
      [fill]="chartOptions.fill!"
      [tooltip]="chartOptions.tooltip!"
      [grid]="chartOptions.grid!"
      [plotOptions]="chartOptions.plotOptions!"
      [colors]="chartOptions.colors!"
      [legend]="chartOptions.legend!"
    ></apx-chart>
  </div>
 